[
{planetwars, [
	{botname, bot_safe},
	{emulator, true},
	% EMULATOR SETTINGS
	{team1, [
		{botname, bot_safe},
		{size, 2},
		{name, t1}
	]},
	{team2, [
		{botname, bot_aggro},
		{size, 2},
		{name, t2}
	]},
	% {worldmap, "input_1x1.txt"}
	% {worldmap, "input_2x2.txt"}
	% {worldmap, "input.txt"}
	 {worldmap, "input_10x10.txt"}
]},

{lager, [
	{colored, true},
	{error_logger_hwm, 50},
	{handlers, [
		{lager_console_backend, [info,
			{lager_default_formatter,
				[
					"\e[0;37m", time,
					"\e[0;35m", pid,
					"\e[0;36m", {module, [module, "/", function, "/", line], ""}, "\e[0m",
					color," [",severity,"] ", message,"\e[0m\n"]
			}
		]},
		{lager_file_backend, [
			{file, "log/error.log"},
			{level, error},
			{formatter, lager_default_formatter},
			{formatter_config, [
				date, " ", time," ",pid, " ", module, "/", function, "/", line,
				"\n [",severity,"] ", message, "\n"]},
			{size, 10485760},
			{date, "$D0"},
			{count, 5}
		]},
		{lager_file_backend, [
			{file, "log/pw.log"},
			{level, info},
			{formatter, lager_default_formatter},
			{formatter_config, [
				date, " ", time," ",module, " ",line, "[",severity,"] ", message, "\n"]},
			{size, 10485760},
			{date, "$D0"},
			{count, 5}
		]}
	]}
]}
].
